body {
  margin: 0px;
  padding: 0px;
  font-family: Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
}

h1,h2,h3,h3,h5,h6,p,nav {
padding: 0px;
margin: 0px;
}

 .Table
    {
        display: table;
        
    }
    
    .Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }

    .Row
    {
        display: table-row;
    }

    .Cell1
    {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
        width: 50px;
    }
    
    .Cell2
    {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
        width: 350px;
    }
    
    .Cell3
    {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
        width: 100px;
    }

.profile {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.clear-fl {
  clear:both;
}

.ProfileItem {
  margin-left: 200px;
  
}

.ProfilePicture {
  float:left;
  
}

.app{
    position: relative;
    margin: auto;
    width: 60%;
    padding: 20px;
}

.searchText {
width: 300px;
height: 36px;
    
}

.searchPanel {
  
  
}

.findButton{
  height: 36px;
}

header{
    height: 36px;
}
footer {
    padding: 10px;
    
  height: 150px;
  
}

.container {
  
}

header {
  background-color: #2ecc71;
}

.container {
  background-color:#ecf0f1;
}

footer {
  background-color:#2c3e50;
  color:white;
}

.wrapper {
  height: 100vh;
  
}

.active {
    color:red;
}

.navItem{
    margin: 10px;
    padding: 10px;
    font-weight:bold;
    font-size: 24px;
}

.para-text{
    padding-top: 30px;
}





